/* Main Stylesheet */

body{
  background-color: #fefeff;
}
/* Styling on warning for users on IE7 or below */
.ch-container {
  padding: 0 15px;
}
.navbar-brand {
  font-family: 'Shojumaru', cursive, Arial, serif;
  letter-spacing: 2px;
  color: white;
  width: 183px;
  font-size: 18px;
  
}
.line {
  margin-left: 20px;
}
.navbar-brand img {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.navbar-brand span {
  float: left;
}
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    max-height: none;
}

.sidebar-nav > ul > li:not(.nav-header) {
    margin-right: -2px;
    margin-left: -2px;
}

.main-menu > li > a {
    border: 1px solid rgba(221, 221, 221, 0.46);
}

.main-menu > li {
    margin-top: 0 !important;
}

ul.main-menu li:hover {
    margin-left: 8px;
}

ul.main-menu li.active {
    margin-left: 8px;
}

ul.main-menu li.nav-header:hover {
    margin-left: 0;
}

ul.main-menu li:not(.nav-header) {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.main-menu .nav-header {
    color: white;
}
#daohang{
  margin-top: 15px;
}
/*#loading-img{
  margin-top: 50px;
}*/
#jindu{
  padding-top: 100px;
}
#jindu , #zhanshi{
  padding-bottom: 10px;
  background-color: #fefeff;
}
/*ul.main-menu li:hover {
  margin-left: inherit;
}

ul.main-menu li.active {
  margin-left: inherit;
}*/
#title{
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}
#divider{
  margin-top: 10px;
}
ul.main-menu a:hover, .nav-sm a:hover {
  /*background: none !important;*/
  color: grey;
}
.accordion > ul {
  display: none;
  margin-left: 10px;
}

.sidebar-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.navbar {
    border-radius: 0;
}
